@media only screen and (max-width: 576px) {
  header {
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 5%;
    position: fixed;
  }

  .card {
    width: 100%;
  }

  .home_cards .card {
    width: 100%;
  }

  .seach {
    margin-top: 10px;
    width: 80%;
  }

  .title h3 {
    font-size: 20px;
  }
  
  .home_cards,.cards{
    grid-template-columns: 1fr;
    padding: 15%;
  }

  footer {
    flex-direction: column;
    padding-bottom: 15px;
  }

  .socials li {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .card {
    width: 100%;
  }

  .home_cards .card {
    width: 100%;
  }

  .home_cards,
  .cards {
    grid-template-columns: repeat(2,1fr);
    padding: 0 7%;
  }
}

@media screen and (min-width: 768px) and (max-width:992px) {
  .cards,.home_cards{
    grid-template-columns: repeat(3,1fr);
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 100%;
  }

  .home_cards .card {
    width: 100%;
  }

  .cards,.home_cards{
    padding: 0 10%;
  }
}
