@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Krona+One&family=Montserrat:wght@300;900&family=Poppins:wght@100;400&family=Prompt:wght@300;500&family=Quicksand:wght@300&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


li {
  list-style: none;
}

.fa-star {
  width: 20px;
  font-size: 20px;
  color: orange;
}

.star-rating {
  position: relative;
}

.inner-star-rating {
  display: flex;
  position: absolute;
  flex-wrap: nowrap;
  overflow: hidden;
  top: 0;
}

.outer-star-rating {
  display: flex;
  flex-wrap: nowrap;
}

.popup {
  position: fixed;
  display: none;
  top: 5%;
  color: rgb(212, 212, 212);
  z-index: 20;
  width: 85%;
  height: 90%;
  backdrop-filter: blur(1rem);
  background-color: rgba(44, 43, 44, 0.521);
  font-family: 'Quicksand', sans-serif;
  padding: 3%;
  transition: none;
}

.popup-card {
  display: flex;
  height: 100%;
  gap: 20px;
  overflow: hidden;
}

.fa-xmark {
  position: fixed;
  font-size: 30px;
  right: 20px;
  top: 7px;
  transition: none;
}

.fa-xmark:hover{
  background-color: rgb(19, 19, 19);
  padding: 1px 6px;
  border-radius: 4px;
  right: 10px;
}

.fa-xmark:active{
  color: rgb(126, 126, 126);
}

.img-box img {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.text-box {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  overflow: auto;
  padding-right: 5px;
}

.text-box::-webkit-scrollbar {
  width: 6px;
}

.text-box::-webkit-scrollbar-track {
  background-color: rgba(177, 177, 177, 0.76);
  border-radius: 5px;
}

.text-box::-webkit-scrollbar-thumb {
  background-color: rgba(99, 99, 99, 0.733);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.genres {
  display: inline-flex;
  gap: 10px;
  flex-wrap: wrap;
}

.movie-details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.flex-grp {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-grp > div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 7px;
}

.flex-grp > div>h4{
 white-space: nowrap;
}

.d-none {
  display: none;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(14, 12, 12, 0.445);
  backdrop-filter: blur(1rem);
  filter: blur(8px);
  height: 100%;
  width: 100%;
  display: none;
  z-index: 19;
}

.d-block {
  display: block;
}

.comments {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.comments form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 70%;
  margin-top: 30px;
}

.comments form > input {
  width: 60%;
  padding: 5px 10px;
  outline: none;
  border: none;
  font-size: 1em;
}

.comments form > textarea {
  color: rgb(206, 197, 197);
  width: 100%;
  height: 100px;
  outline: none;
  padding: 10px 10px;
  border: none;
  font-size: 1em;
}

.comments form > button {
  padding: 10px 20px;
  border: none;
  color: rgb(206, 197, 197);
  background-color: rgb(39, 6, 39);
  cursor: pointer;
}

.comments form > button:hover {
  background-color: rgb(53, 18, 53);
  box-shadow: 3px 4px 10px rgb(24, 23, 23);
  color: #fff;
}

@media only screen and (max-width: 992px) {
 .popup{
    height: 70%;
    top: 15%
  }
}

@media only screen and (max-width: 768px){
  .popup{
    height: 90%;
    top:5%;
    width: 70%;
    padding: 0;
    font-size: 0.5em;
  }

   .fa-star {
  width: 16px;
  font-size: 16px;
  color: orange;
}
  .img-box{
    width: 100%;
    display: flex;
    padding-top: 20px;
  }

  img{
    width: 80%;
    margin: 0 auto;
  }

  .popup-card{
    flex-direction: column;
    overflow-y: scroll;
  }

  .popup-card::-webkit-scrollbar {
  width: 6px;
}

.popup-card::-webkit-scrollbar-track {
  background-color: rgba(177, 177, 177, 0.76);
  border-radius: 5px;
}

.popup-card::-webkit-scrollbar-thumb {
  background-color: rgba(99, 99, 99, 0.733);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

  .text-box{
    overflow: visible;
    width: 100%;
    justify-content: center;
    padding: 0 10px 10px;
    text-align: center;
    font-size: 17px;
  }

  .movie-details{
    flex-direction: column;
    align-items: center;
  }

  .flex-grp {
  align-items: center;
}
}

@media only screen and (max-width: 576px){
  .popup{
    width: 90%;
  }

   .fa-star {
  width: 13px;
  font-size: 13px;
  color: orange;
}

.text-box{
  font-size: 14px;
}
}