@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Krona+One&family=Montserrat:wght@300;900&family=Poppins:wght@100;400&family=Prompt:wght@300;500&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

body {
  color: #fff;
  background-image: linear-gradient(#00000073, #000), url('./imgs/cover.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
}

main {
  padding-top: 8rem;
  display: flex;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 8rem;
}

.title {
  width: 100%;
  margin-top: 5rem;
}

.none {
  width: 0;
  opacity: 0;
}

.block {
  width: 100%;
  opacity: 1;
}

.cards {
  flex-wrap: wrap;
  display: flex;
}

.card {
  overflow: hidden;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(39, 39, 39);
  width: 22%;
  margin: 13px;
}

.home_cards {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
}

.home_cards .card {
  overflow: hidden;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(39, 39, 39);
  width: 9%;
  margin: 5px;
}

.movi-title {
  margin-bottom: 10px;
  margin-left: 5px;
  color: rgb(224, 224, 224);
}

.reservation-btn {
  border: none;
  padding: 3px 6px;
  margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 40%;
  background-color: #ffac31;
}

header {
  width: 100%;
  background-image: linear-gradient(180deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.034));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  position: fixed;
}

.icon-input{
  position: relative;
  width: 30%;
  display: flex;
  align-items: center;
}

.icon-input input {
  width: 100% ;
  padding: 10px 30px;
  font-size: 0.9em;
  border: none;
  outline: none;
  border-radius: 20px;
  outline: none;
}

.icon-input i{
  color: black;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.page-navigation {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.page-navigation li > a {
  text-decoration: none;
  color: #fff;
  padding: 3px 10px;
}

.page-navigation li > a:hover {
  background-color: rgb(54, 27, 126);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

footer {
  height: 5rem;
  justify-content: space-around;
  display: flex;
  gap: 30px;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.336), rgb(0, 0, 0));
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  color: rgb(172, 172, 172);
  font-weight: 300;
}

.socials-holder {
  text-align: center;
  display: flex;
}

.socials {
  display: flex;
  gap: 5px;
  margin-left: 4rem;
}

.socials li {
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 35px;
}

.socials li:hover {
  color: rgb(52, 26, 122);
}
